/logica/Condicionales/build/
/logica/Condicionales/nbproject/private/
/logica/CiclosWhile/nbproject/private/
/logica/CiclosWhile/build/
/logica/ciclosFor/nbproject/private/
/logica/ciclosFor/build/
/logica/matrices/nbproject/private/
/logica/POO/nbproject/private/
/logica/POO/build/
/logica/SistemaSAR/nbproject/private/
